@charset "UTF-8";

/* estilo para telas */

*{
   margin: 0px;
   padding: 0px;
}
body{
    background-color: #3cffd5a1;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: #3cffd5b2;
    padding: 10px;
}
header > h1{
    text-align: center;
}
menu{
    background-color: #4d85ce;
    border-radius: 3px; 
}
menu ul{
    list-style-type: none;
    padding: 2px;
}
menu li{   
     background-color: rgb(144, 211, 238);
    display: inline-block;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}
article{
    min-width: 600px;
    max-width: 800px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    display: block;
    margin: auto;
    background-color: #4d85ce;
}