@charset "UTF-8";

/* todas as demais midias */

/* typical device breakpoints
pequenas telas: até 600px
celular: 600px a 768px
tablet: 768 a 992px
desktop: 992px a 1200px
telas grandes: acima de 1200px
*/
@media print{ /* IMPRESSÃO*/

    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main{
        width: 90%;
        border: 2px solid black;
    }
    main::after{
        content: " obrigado por imprimir este conteúdo! agradecemos sua preferência.";
        text-decoration: overline;
    }
    main a{
        color: black;
        text-shadow: none;
    }
    footer{
        border: 2px solid black;
    }

    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: block; }
    img#pc{ display: none; }
    img#tv{ display: none; }
}
@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }   

    img#phone{ display: none; }
    img#tablet{ display: block; }
    img#print{ display: none; }
    img#pc{ display: none; }
    img#tv{ display: none; }
}
@media screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: none; }
    img#pc{ display: block; }
    img#tv{ display: none; }
}
@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: none; }
    img#pc{ display: none; }
    img#tv{ display: block; }
}