@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}
body, html{
    background-color: lightblue;
}
header{
    background-color: rgb(0, 0, 128);
}
header h1{
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 4px 3px 7px #ffffff;
}

.material-symbols-outlined {
  color: white;
  box-shadow: -4px -7px 20px 0px #3d0dd8;
  display: block;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}
.material-symbols-outlined:hover {
    background-color: #3d0dd840;
    box-shadow: -4px -7px 20px 0px rgb(22 22 240);
    color: white;
}
nav{
    display: none;
}
nav ul{
    list-style-type: none;
}
nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(37, 37, 235);
    color: white;
    border-top: 2px solid rgb(186, 238, 255);
}
nav a:hover{
    background-color: rgb(0, 0, 128);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article h2{
    padding-bottom: 15px;
}
article p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}