   @charset "UTF-8";
        body {
            background-color: azure;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
    
        } h1 {
            color: crimson;
            background-color: burlywood;
        }
        h2 {
            color: blueviolet;
        }
        p {
            text-align: justify;
        }
