@charset  "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}
header{
    background-color: white;
    padding: 10px;
   margin: 10px;
}
nav{
    background-color: rgb(92, 84, 75);
    padding: 2px;
    box-shadow:  7px 5px 19px 0px #716666
}
nav >a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-weight: bold;
    
}
nav >a:hover{
    text-decoration:underline;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 2px 2px 6px black;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}
footer >p{
    margin: 0px;
}
article > aside{
    background-color: lightgreen;
    padding:5px;
    text-align: center;
    box-shadow: inset 10px 10px 10px #79e779;
}
div#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #79e779;
    border-radius: 50%;
}












