@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #921415,#521014);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #462122b7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #3D1817; 
   text-align: center;
   text-shadow: 1px 1px 2px #270f0ebb;
}

h2{
    color: #91735c;
}
p{
    text-align: justify;
}